<!DOCTYPE html>
<html>
  <head>
    <title>Play Nim</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script>
      window.jQuery || document.write(
        '<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>'
      )
    </script>

    <style>
      body {
        background-color: #EEEEEE;
      }
      div {
        color: #555555;
        padding: 10px 10px 10px 10px;
      }
    </style>
  </head>
  <body>

    <div>
      <h1>So it begins...</h1>
    </div>

    <div id=piles></div>

    <div style="clear: both;">
      <input type="number" id="pile" value="1" min="1">
      pile
    <div>
    </div>
      <input type="number" id="stones" value="1" min="1">
      stones
    </div>

    <div>
      <button onclick="updateGameState()">Make Move</button>
    </div>

    <div>
      <input type="number" id="numPiles" value="3" min="1" onchange="newGame()">
      total piles
    </div>

    <div>
      <input type="number" id="minPerPile" value="4" min="1" onchange="newGame()">
      minimum stones per pile
    </div>

    <div>
      <input type="number" id="maxPerPile" value="12" min="1" onchange="newGame()">
      maximum stones per pile
    </div>

    <div>
      <button onclick="newGame()">New Game</button>
    </div>

    <script src="/static/game_operations.js" charset="utf-8"></script>
  </body>
</html>
